body{
	font-size: 0;
}

.parentTop{
	width:50%;
	height: 200px;
	display: inline-block;
	border: solid 1px black;
}

.parentBottom{
	width:33.3%;
	height: 300px;
	display: inline-block;
	border: solid 1px black;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.grey{
	background-color: grey;
}

.black{
	background-color: black;
}

.yellow{
	background-color: rgb(233, 168, 77);
}
