body{
	margin: 0;
	box-sizing: border-box;
}

nav{
	position: fixed;
	background-color: rgb(238,238,238);
	height: 50px;
	width: 100%;
	margin-top: 0px;
	text-align: right;
	font-size: 20px;
}

main{
	padding-top: 50px;
}

form{
	margin-top: 50px;
	margin-left: 100px;
}

.main-title{
	position: absolute;
	top: 10px;
	left: 10px;
}

.nav-buttons{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

.nav-buttons li{
	display: inline-block;
	margin: 5px;
	color: purple;
}

.search-button{
	background: url(../images/magnifying-glass.png) transparent;
	background-position: 30px 30px;
	background-repeat: no-repeat;
	border: solid 1px rgb(191,191,191);
	height: 30px;
	width: 30px;
}

.input-field{
	width: 30%;
	font-size: 20px;
	height: 25px;
}

.button-string{
	margin-top: 40px;
	margin-left: 100px;
	font-size: 0;
}

.button-page{
	height: 40px;
	font-size: 18px;
	background-color: white;
	border: solid 1px rgb(191,191,191);
	display: inline-block;
	border-radius: 5%;
}

.main-list{
	margin-left: 20px;
	list-style-type: none;
	margin-top: 50px;
	color: rgb(175,183,189);

}

.job-list{
	display: inline-block;
}

.job-list li{
	margin-right: 8px;
	margin-bottom: 10px;
	display: inline-block;
}

.blue{
	color: blue;
	font-weight: bold;
}




